body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    color: blueviolet;
    font-size: smaller;
}
h1{
    color: aquamarine;
}
h3{

    color: rgb(28, 214, 59);
}
p{
    color: khaki;
    background-color: forestgreen;

}