body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    color: blueviolet;
    font-size: smaller;
}
ol{
    color: rgb(165, 42, 42);
    font-size: x-large;
}
h1{
    color: rgb(85, 0, 255);
}